.header_topline a {
  color: #b9b9b7;
  text-decoration: none;
}
.header_topline {
  height: 25px;
  background-color: #000;
}
.header_topline__sity {
  float: left;
  background-color: #000;
}
.header_topline__sity ul li {
  display: inline-block;
  margin: 0 10px;
}
.header_topline__sity___active {
  color: #fff;
}
.header_topline__panel {
  float: right;
  background-color: #000;
}
.header_topline__panel ul li {
  display: inline-block;
  margin: 0 10px;
}
.header_menu {
  background-color: #3a3a43;
  height: 40px;
}
.header_menu__logo {
  width: 180px;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}
.header_menu__nav {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
.header_menu__nav ul li {
  display: inline-block;
}
.header_menu__nav a {
  color: #fff;
  margin: 0 10px;
}
.header_menu__nav___super {
  color: #df6742;
}
.header_menu__banner {
  float: right;
}
.header_menu__nav___newBuild {
  color: #f5b531;
  margin-top: -9px;
  padding-bottom: 9px;
  border-bottom: 4px solid #f5b531;
}
.header_menu__nav___newBuild a {
  color: #f5b531;
}
.content {
  float: left;
  max-width: 976px;
  min-width: 740px;
}
.sidebar_block__p {
  color: #6a6a74;
}
.sidebar {
  float: right;
  width: 250px;
}
.sidebar_block {
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 15px 0px;
  line-height: 1.3;
}
.sidebar_block__title {
  font-weight: bold;
  width: 228px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
}
.sidebar_block__p {
  width: 228px;
  margin: 0 auto;
}
.sidebar_block__img {
  width: 225px;
  height: 150px;
  margin: 0 auto;
}
.sidebar_block__img img {
  width: 225px;
  height: 150px;
  vertical-align: middle;
}
